<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baidu.speech.recognizerdemo"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="25" />

    <!-- begin: baidu speech sdk  权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- end: baidu speech sdk  权限 -->
    <application
        android:name="com.mydemo.voicerecognition.android.ui.SimpleTransApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"> <!-- 不使用 UI 对话框时 ，删除 android:name -->

        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="10601879" />
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="GXxrqtLF6QEbPXaSY08ClGd5" />
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="cKG4MpT07KHWWUQCQvV5lSAVS9xQGcT6" />
        <!-- 请确认集成后的包名是否正确，本demo的包名是com.baidu.speech.recognizerdemo，在build.gradle文件中查看 -->
        <service
            android:name="com.baidu.speech.VoiceRecognitionService"
            android:exported="false" />

        <activity android:name="com.mydemo.android.voicedemo.activity.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mydemo.android.voicedemo.activity.ActivityOnline"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="语音识别"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mydemo.android.voicedemo.activity.ActivityUiDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:label="对话框UI识别"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="com.baidu.speech.recognizerdemo.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mydemo.voicerecognition.android.ui.BaiduASRDigitalDialog"
            android:configChanges="orientation|keyboardHidden|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="com.baidu.action.RECOGNIZE_SPEECH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>